.App {
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

h1, h2 {
  margin: 3vw;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3vw;
}

i:nth-child(1) {
  color: rgb(209, 2, 88);
  transform: rotate(315deg);
}

i:nth-child(2) {
  color: rgb(0, 247, 255);
  transform: rotate(135deg);
}

.back-link, .category-link {
  margin: 1.5rem;
}
