.all-ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.cocktail-details > img {
  height: 35em;
  border-radius: 5%;
  border: 0.5rem solid  rgba(236, 101, 11, 0.911);
  box-shadow: 
    5px 5px 10px  rgba(236, 101, 11, 0.911),
    0 0 2rem rgba(236, 101, 11, 0.911);
}

@media only screen and (max-width: 500px) {
  .cocktail-details > img {
    height: 20em;
  }
}

.back-to-category, .back-to-index  {
  margin: 2em;
}

.instructions {
  position: relative;
  top: 0;
  left: 25%;
  width: 50%;
}
